In [12]:
import pandas as pd

w_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx',skiprows=3,
                   usecols="B,AE:AO", nrows=1)

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [13]:
m_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx',skiprows=3,
                   usecols="B,R:AB", nrows=1)

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [14]:
df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx',skiprows=3,
                   usecols="B,E:O", nrows=1)
df

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,행정기관,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,전국,"3,140,118","4,619,265","5,955,656","6,624,563","7,722,823","8,706,370","7,818,783","4,186,597","2,104,544","329,925","8,577"

In [19]:
m_df.columns = df.columns
w_df.columns = df.columns

In [22]:
df.columns

Index(['행정기관', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세',
       '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')