In [37]:
import pandas as pd
df = pd.read_excel('data/F000801_20250519143453295_excel.xlsx', skiprows=2, nrows=1, usecols="B:L")
df.columns

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['Unnamed: 1', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024'],
      dtype='object')

In [38]:
df.set_index("Unnamed: 1",inplace=True)
df.index.name = "전체"
df.index = ["총합"]
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [ ]:
df = df.T

In [51]:
df['총합'] = df['총합'].str.replace(",","").astype(int)
df

          총합
2015  438420
2016  406243
2017  357771
2018  326822
2019  302676
2020  272337
2021  260562
2022  249186
2023  230028
2024  230028