In [1]:
import pandas as pd

### csv파일 읽어오기, index 지정가능 : index_col
# df = pd.read_csv('data/score.csv',index_col='지원번호')

### excel 읽어오기
### skiprows : 상단 row 삭제
### index_col : index 지정
### usecols : 필요한 컬럼만 가져오기
### nrows : 필요한 row만 가져오기
df = pd.read_excel('data/202412_202412_주민등록인구및세대현황_연간.xlsx',skiprows=2,index_col='행정기관',
                   usecols="B:C,F:H", nrows=3)
df

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

               총인구수      남자 인구수      여자 인구수  남여 비율
행정기관
전국       51,217,221  25,498,324  25,718,897   0.99
서울특별시     9,331,828   4,505,355   4,826,473   0.93
부산광역시     3,266,598   1,589,912   1,676,686   0.95

In [5]:
df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B:C, E:O')
df

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,행정기관,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,전국,"51,217,221","3,140,118","4,619,265","5,955,656","6,624,563","7,722,823","8,706,370","7,818,783","4,186,597","2,104,544","329,925","8,577"
1,서울특별시,"9,331,828","483,780","720,767","1,308,260","1,442,665","1,383,950","1,486,068","1,326,239","773,771","355,250","49,594","1,484"
2,부산광역시,"3,266,598","181,736","262,852","358,388","388,958","471,171","537,485","561,092","336,847","148,646","18,994",429
3,대구광역시,"2,363,629","142,228","212,438","268,100","282,632","344,645","418,181","375,530","205,143","100,506","13,966",260
4,인천광역시,"3,021,010","195,196","272,576","351,396","422,100","475,593","516,583","459,894","212,520","98,352","16,294",506
5,광주광역시,"1,408,422","92,837","145,418","182,033","173,762","219,511","243,154","190,637","103,523","49,754","7,612",181
6,대전광역시,"1,439,157","91,513","135,613","193,470","190,937","213,110","243,783","206,460","105,925","50,301","7,830",215
7,울산광역시,"1,098,049","73,097","109,370","117,157","136,293","173,188","202,978","175,205","77,310","29,297","4,068",86
8,세종특별자치시,"390,685","41,351","52,539","37,080","58,822","77,093","57,130","38,784","17,782","8,412","1,653",39
9,경기도,"13,694,685","939,988","1,318,307","1,627,548","1,907,383","2,214,874","2,357,607","1,911,010","905,114","440,674","70,233","1,947"
10,강원특별자치도,"1,517,766","85,769","126,637","156,210","158,524","200,689","260,847","279,134","149,552","86,358","13,625",421
11,충청북도,"1,591,177","97,837","142,996","173,746","189,274","225,024","273,441","264,085","135,995","76,117","12,378",284
12,충청남도,"2,136,574","135,316","201,787","220,268","252,339","317,999","353,357","335,114","188,307","111,022","20,577",488
13,전북특별자치도,"1,738,690","95,081","161,370","181,258","172,652","234,476","301,960","288,862","179,787","104,235","18,547",462
14,전라남도,"1,788,819","101,368","156,438","169,229","169,144","232,746","308,317","311,699","195,421","123,222","20,694",541
15,경상북도,"2,531,384","140,258","215,753","235,821","255,763","344,000","441,289","457,429","264,989","150,622","24,909",551
16,경상남도,"3,228,380","195,007","314,142","305,683","345,727","489,536","584,759","540,616","284,691","144,354","23,414",451
17,제주특별자치도,"670,368","47,756","70,262","70,009","77,588","105,218","119,431","96,993","49,920","27,422","5,537",232

In [ ]:
### 컬럼 부분 출력
df['이름']
df['키']

## 2개 이상 출력
df[['이름','키']]

df.columns
df[1:5] ## 컬럼 전체의 row값을 출력
df[df.columns[1:5]] ## 컬럼 출력