In [8]:
import pandas as pd

## 계
df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B,E:O', index_col='행정기관', nrows=1)
df

## 남자
m_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B,R:AB', index_col='행정기관', nrows=1)
m_df

## 여자
w_df = pd.read_excel('data/202412_202412_연령별인구현황_연간.xlsx', skiprows=3, usecols='B,AE:AO', index_col='행정기관', nrows=1)
w_df

/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniforge/base/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~9세.2,10~19세.2,20~29세.2,30~39세.2,40~49세.2,50~59세.2,60~69세.2,70~79세.2,80~89세.2,90~99세.2,100세 이상.2
행정기관,,,,,,,,,,,
전국,"1,531,058","2,245,507","2,855,132","3,166,585","3,796,703","4,315,099","3,968,224","2,254,795","1,326,374","252,368","7,052"

In [ ]:
## 컬럼명 비교

df.columns # 컬럼명 '0~9세'
m_df.columns # 컬럼명 '0.9세.1'
w_df.columns # 컬럼명 '0.9세.2'

df['0~9세']

행정기관
전국      3,140,118
Name: 0~9세, dtype: object

In [14]:
## 컬럼명 변경

m_df.columns = df.columns #컬럼묭 변경
w_df.columns = df.columns #컬럼묭 변경

w_df.columns

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [ ]:
# df.describe()
# df.info()
# df['0~9세'] = df['0~9세'].str.replace(",","")
# df['0~9세'] = df['0~9세'].astype(int)
df['0~9세'] = df['0~9세'].str.replace(",","").astype(int)
df.info()

AttributeError: Can only use .str accessor with string values!

In [23]:
#replace: ,를 삭제(천단위 삭제), 타입변경 : astype()

#'10~19세' 천단위 삭제, int 변경

df['10~19세'] = df['10~19세'].str.replace(",","").astype(int)
df['10~19세']

행정기관
전국      4619265
Name: 10~19세, dtype: int64

In [27]:
# m_df[:]
m_df = m_df.T
m_df

행정기관          전국
0~9세     1,609,060
10~19세   2,373,758
20~29세   3,100,524
30~39세   3,457,978
40~49세   3,926,120
50~59세   4,391,271
60~69세   3,850,559
70~79세   1,931,802
80~89세     778,170
90~99세      77,557
100세 이상      1,525

In [38]:
# 축 변경됨
## 컬럼별로는 가능 
# m_df['전국  '].str.replace(",","")

m_df.rename(columns={"전국  ":"전국"},inplace=True)
m_df.columns

Index(['전국'], dtype='object', name='행정기관')